a {
  color: #539bf5;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
}

h1,
h2,
h3,
h4,
h5 {
  filter: opacity(0.75);
}

p {
  line-height: 1.5rem;
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

code {
  padding: .2em .4em;
  /* margin-inline: .2em; */
  font-size: 85%;
  background-color: #636e7b66;
  border-radius: 6px;
}

pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  padding: 20px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #2d333b;
  border-radius: 6px;
}

blockquote {
  padding: 0 1em;
  color: #768390;
  border-left: .25em solid #444c56;
  margin-left: 0;
}